.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  background: map_get($colors, footer);
  border-top: 1px solid map_get($colors, border);
  transition: all 0.4s ease;

  .copyright {
    position: absolute;
    left: 10%;
    top: 9px;
    font-family: map_get($fonts, footer);
    color: map_get($colors, footerText);
    font-size: 1rem;
    transition: $defaultTransition;

    span {
      font-size: 1.6rem;
      font-family: map_get($fonts, logo);
    }
  }
}
