.header {
  width: 100%;
  background: map_get($colors, header);
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid map_get($colors, border);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  transition: $defaultTransition;

  h1 {
    position: relative;
    font-family: map_get($fonts, logo);
    color: map_get($colors, logo);
    cursor: pointer;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    @media screen and (max-width: $mobileQueryPixels) {
      padding-bottom: 0.7rem;
    }
  }

  @media screen and (max-width: $mobileQueryPixels) {
    flex-direction: column;
  }
}
