// #5CDB95
// #379683
// #05386B
// #EDF5E1
// #8EE4AF

:root {
  --primary: #5cdb95;
  --secondary: #379683;
  --tertiary: #05386b;
  --quaternary: #edf5e1;
  --penitentiary: #8ee4af;

  --primary-dark: #313131;
  --secondary-dark: #313131;
  --tertiary-dark: #05386b;
  --quaternary-dark: #edf5e1;
  --penitentiary-dark: #313131;

  --primary-light: #5cdb95;
  --secondary-light: #379683;
  --tertiary-lightk: #05386b;
  --quaternary-light: #edf5e1;
  --penitentiary-light: #8ee4af;
}

$white: #ffffff;
$black: #000000;
$lightBlack: #313131;

$colors: (
  header: var(--secondary),
  border: var(--tertiary),
  logo: $white,
  footer: var(--secondary),
  footerText: $white,
  body: var(--secondary),
  nav: var(--tertiary),
  navActive: var(--tertiary),
  tabs: var(--primary),
  confirmationContainerBackground: var(--primary),
  confirmationContainerBorder: var(--tertiary),
  btn: var(--tertiary),
  btnHover: $white,
  tabContent: $white,
  title: $lightBlack,
  description: $lightBlack,
  noTabs: $white,
  overlay: rgba(0, 0, 0, 0.7),
);

$zIndexes: (
  black-overlay: 1,
  video: 3,
  confirmationModal: 5,
);

$widths: (
  confirmationContainer: 300px,
);

$heights: (
  confirmationContainer: 200px,
);

$default: 'sans-serif';
$malsava: 'Mansalva', $default;
$lato: 'Lato', $default;

$fonts: (
  global: $lato,
  logo: $malsava,
  noTabs: $malsava,
  title: $lato,
  description: $lato,
  footer: $lato,
  nav: $lato,
);

$defaultTransition: all 0.4s ease;

$mobileQueryPixels: 768px;
$footerHeight: 60px;
