.confirmation-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.6);
  top: 0;
  left: 0;
  z-index: map_get($zIndexes, confirmationModal);
}

.confirmation-modal-container {
  position: absolute;
  width: map_get($widths, confirmationContainer);
  top: 50%;
  margin-top: (map_get($heights, confirmationContainer) / 2) * -1;
  left: 50%;
  margin-left: (map_get($widths, confirmationContainer) / 2) * -1;
  border-radius: 20px;
  padding: 2rem 1rem;
  text-align: center;
  background-color: map_get($colors, confirmationContainerBackground);
  border: 2px solid map_get($colors, confirmationContainerBorder);
  font-family: $malsava;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
