* {
  &::-moz-selection {
    /* Code for Firefox */
    color: red;
    background: yellow;
  }

  &::selection {
    color: red;
    background: yellow;
  }
}

.Toastify__toast-container {
  bottom: 3em !important;
}

body {
  margin: 0;
  background: map_get($colors, body);
  font-family: map_get($fonts, global);
  scroll-behavior: smooth;
  transition: $defaultTransition;
}

button {
  font-weight: 600 !important;
  letter-spacing: 1px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
